**/*.keys

**/*.crt
**/*.key
**/*.pem

**/*.img
**/*.iso
**/*.qcow2
**/*.raw

**/*vmlinuz*
**/*rootfs*
**/*initrd*
**/*initramfs*
**/*.squashfs

**/*.efi
**/*.exe
**/*.pcap

**/*.gz
**/*.tar*
**/*.tgz
**/*.xz
**/*.zip

**/harvester.yaml
**/k3s.yaml
**/local.yaml
**/rke2.yaml
**/*-kubeconfig
**/*.kubeconfig
**/*.kc

**/*.sha256sum
**/*.sha512sum

**/*store/